    <% @movies.each do |movie| %>
    <section class = "movie">
        <div class = "image">
            <%= main_image(movie) %>
        </div>
        <div class = "summary">
            <h2>
                <%= link_to movie.title, movie_path(movie) %>
            </h2> 
            <h3>
                <%= total_gross(movie) %>
            </h3>
            <p>
                <%= short_description(movie) %>
            </p>
            
            <%= display_stars_for_movie(movie) %>
            <%= display_review_count_for_movie(movie) %>

        </div>
    </section>
    <% end %>


<% if current_user_admin? %>
    <section class = "admin">
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
    </section>
<% end %>